# Node modules
node_modules/

# Environnement
.env

# Build
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / système
.DS_Store
*.swp
*.swo
.vscode/
.idea/

# Coverage
coverage/

# TS cache
*.tsbuildinfo
